h1 {
    color: black;
}

.score-board {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

/* table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 100%;
} */